<!DOCTYPE html>
<html>
    <head>
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <title>Museum Deli Serdang</title>

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/jquery.lighter.css">
        <link rel="stylesheet" href="css/main.museum.css">
        <link rel="stylesheet" href="plugin/fontawesome/css/all.min.css"> 
    </head>
    <body>

        <div id="app">
            <div>
                <router-view></router-view>
            </div>
        </div>

        <script type="text/x-template" id="logomuseum">

            <div class="container fix-height">
                <div class="row">

                    <div class="col">

                        <div class="col-xl-12 col-md-12 mt-2">
                        <a @click="goBack" class="btn btn-warning"><i class="fas fa-angle-left"></i></a>
                    </div>
                    
                    <div class="col-xl-12 col-md-12 mt-2">
                        <div class="orange py-5 ">
                            <div class="row">
                                <div class="col-xl-12 col-md-4">
                                    <img src="img/logo-min.png" class="img-center" width="50px" height="60px" alt="">
                                </div>

                                <div class="col-xl-12 col-md-8">
                                    <h3 class="text-center text-white">{{judul}}</h3>  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-8 col-md-8 offset-md-2 offset-xl-2 my-3">
                                    <div class="alert alert-warning">
                                        <ul v-for="item in point">
                                            <li>{{item.deskripsi}}</li>
                                        </ul>
                                    </div>
                                </div>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="visimisi">

            <div class="container fix-height">
                <div class="row">
                    <div class="col">

                    <div class="col-xl-12 col-md-12 mt-2">
                        <a @click="goBack" class="btn btn-warning"><i class="fas fa-angle-left"></i></a>
                    </div>

                    <div class="row">
                        <div class="col-xl-12 col-md-12 mt-2">
                            <div class="blue py-5 ">
                                <div class="row" style="padding: 0;">
                                    <div class="col-xl-12 col-md-4">
                                        <img src="img/logo-min.png" class="img-center" width="50px" height="60px" alt="">
                                    </div>

                                    <div class="col-xl-12 col-md-8">
                                        <h3 class="text-center text-white">{{judul}}</h3>  
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-12 col-md-12 mt-3">
                            <img :src="gambar" class="img-fluid img-thumbnail" style="display: block; margin: 10px auto;" alt="">
                        </div>
                    </div>
                    


                
                </div>
            </div>
        </script>

        <script type="text/x-template" id="gambarmuseum">

            <div class="container fix-height">
                <div class="row">

                    <div class="col-xl-12 col-md-12 mt-2">
                        <a @click="goBack" class="btn btn-warning"><i class="fas fa-angle-left"></i></a>
                    </div>
                    
                    <div class="col-xl-12 col-md-12 mt-2">
                        <div class="red py-5 ">
                            <div class="row">
                                <div class="col-xl-12 col-md-4">
                                    <img src="img/icon.png" class="img-center" width="50px" height="50px" alt="">
                                </div>

                                <div class="col-xl-12 col-md-8">
                                    <h3 class="text-center text-white">{{judul}}</h3>  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-md-12 mt-4">
                        <div class="row">
                            <div class="col-xl-2 col-md-2 py-2" v-for="img in gambar">
                            <a :href="img.link" data-lighter>
                                <img :src="img.link" height="150px" width="150px" />
                                <p style="font-size:12px; color: #333;">{{img.deskripsi}}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </script>


        <script type="text/x-template" id="strukturorganisasi">

            <div class="container fix-height">
                <div class="row">

                    <div class="col">

                        <div class="col-xl-12 col-md-12 mt-2">
                        <a @click="goBack" class="btn btn-warning"><i class="fas fa-angle-left"></i></a>
                    </div>
                    
                    <div class="col-xl-12 col-md-12 mt-2">
                        <div class="green py-5 ">
                            <div class="row">
                                <div class="col-xl-12 col-md-4">
                                    <img src="img/icon/organization.png" class="img-center" width="50px" height="50px" alt="">
                                </div>

                                <div class="col-xl-12 col-md-8">
                                    <h3 class="text-center text-white">{{judul}}</h3>  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-8 col-md-8 offset-md-2 offset-xl-2 py-3">
                        <img :src="gambar" class="img-fluid" style="width: 100%;" alt="">
                                    
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </script>


        <script type="text/x-template" id="peresmian">

            <div class="container fix-height">
                <div class="row">
                    <div class="col">

                        <div class="col-xl-12 col-md-12 mt-2">
                        <a @click="goBack" class="btn btn-warning"><i class="fas fa-angle-left"></i></a>
                    </div>
                    
                    <div class="col-xl-12 col-md-12 mt-2">
                        <div class="violet py-5 ">
                            <div class="row">
                                <div class="col-xl-12 col-md-4">
                                    <img src="img/icon/inauguration.png" class="img-center" width="50px" height="50px" alt="">
                                </div>

                                <div class="col-xl-12 col-md-8">
                                    <h3 class="text-center text-white">{{judul}}</h3>  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-8 col-md-8 offset-md-2 offset-xl-2 mt-3">
                        <div class="alert alert-warning">
                            <p><i class="fas fa-info-circle"></i> <i>Info</i></p>
                            <p class="text-justify">{{isi}}</p>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12 mt-4">
                        <div class="row">
                            <div class="col-xl-3 col-md-3 py-2" v-for="img in gambar">
                            <a :href="img.link" data-lighter>
                                <img :src="img.link" class="img-fluid img-thumbnail" />
                                <p style="font-size:12px; color: #333;">{{img.deskripsi}}</p>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </script>

        <script type="text/x-template" id="kunjungan">

            <div class="container fix-height">
                <div class="row">
                    <div class="col">

                        <div class="col-xl-12 col-md-12 mt-2">
                        <a @click="goBack" class="btn btn-warning"><i class="fas fa-angle-left"></i></a>
                    </div>
                    
                    <div class="col-xl-12 col-md-12 mt-2">
                        <div class="yellow py-5 ">
                            <div class="row">
                                <div class="col-xl-12 col-md-4">
                                    <img src="img/icon/parrent.png" class="img-center" width="50px" height="50px" alt="">
                                </div>

                                <div class="col-xl-12 col-md-8">
                                    <h3 class="text-center text-white">{{judul}}</h3>  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-8 col-md-8 offset-md-2 offset-xl-2 mt-3">
                        <div class="alert alert-warning">
                            <p><i class="fas fa-info-circle"></i> <i>Info</i></p>
                            <p class="text-justify">{{isi}}</p>
                        </div>
                    </div>

                    <div class="col-xl-12 col-md-12 mt-4">
                        <div class="row">
                            <div class="col-xl-2 col-md-2 py-2" v-for="img in gambar">
                            <a :href="img.link" data-lighter>
                                <img :src="img.small" class="img-fluid img-thumbnail" />
                                <p style="font-size:12px; color: #333;">{{img.deskripsi}}</p>
                            </a>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="kegiatan">

            <div class="container fix-height">
                <div class="row">

                    <div class="col-xl-12 col-md-12 mt-2">
                        <a @click="goBack" class="btn btn-warning"><i class="fas fa-angle-left"></i></a>
                    </div>
                    
                    <div class="col-xl-12 col-md-12 mt-2">
                        <div class="bluee py-5 ">
                            <div class="row">
                                <div class="col-xl-12 col-md-4">
                                    <img src="img/icon/kegiatan.png" class="img-center" width="50px" height="50px" alt="">
                                </div>

                                <div class="col-xl-12 col-md-8">
                                    <h3 class="text-center text-white">{{judul}}</h3>  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-md-12 mt-4">
                        <div class="row">
                            <div class="col-xl-2 col-md-2 py-2" v-for="img in gambar">
                            <a :href="img.link" data-lighter>
                                <img :src="img.small" class="img-fluid img-thumbnail" />
                                <p style="font-size:12px; color: #333;">{{img.deskripsi}}</p>
                            </a>
                        </div>
                    </div>

                    </div>

                </div>
            </div>
        </script>

        <script type="text/x-template" id="program">

            <div class="container fix-height">


                <div class="row">

                    <div class="col-xl-12 col-md-12 mt-2">
                        <a @click="goBack" class="btn btn-warning"><i class="fas fa-angle-left"></i></a>
                    </div>
                    
                    <div class="col-xl-12 col-md-12 mt-2">
                        <div class="red py-5 ">
                            <div class="row">
                                <div class="col-xl-12 col-md-4">
                                    <img src="img/icon/program.png" class="img-center" width="50px" height="50px" alt="">
                                </div>

                                <div class="col-xl-12 col-md-8">
                                    <h3 class="text-center text-white">{{judul}}</h3>  
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col">

                        <div class="card mb-5" style="border-radius: 0;">
                          <div class="card-body">

                            <div class="row">
                                                                
                                <div class="col-xl-8 col-md-8 offset-xl-2 offset-md-2">
                                    <div class="card">
                                        <img class="card-img-top" height="500px" src="img/program/kenanglemu.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <hr>
                                            <h5 class="card-title">{{subjudul}}</h5>
                                            <p class="text-justify">{{isi}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                          </div>
                        </div>

                    </div>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="peraturan">

            <div class="container fix-height">


                <div class="row">
                    <div class="col-xl-12 col-md-12 mt-2">
                        <a @click="goBack" class="btn btn-warning"><i class="fas fa-angle-left"></i></a>
                    </div>
                    
                    <div class="col-xl-12 col-md-12 mt-2">
                        <div class="green py-5 ">
                            <div class="row">
                                <div class="col-xl-12 col-md-4">
                                    <img src="img/icon/rules.png" class="img-center" width="50px" height="50px" alt="">
                                </div>

                                <div class="col-xl-12 col-md-8">
                                    <h3 class="text-center text-white">{{judul}}</h3>  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">

                        <div class="card mb-5" style="border-radius: 0;">
                          <div class="card-body">
                            

                            <div class="container">

                            <div class="row">
                                <div class="col">
                                    <div class="alert alert-primary">
                                        <ul v-for="item in point">
                                            <li>{{item.deskripsi}}</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="alert alert-primary">
                                        <h5><i class="fas fa-info-circle"></i> Perhatian</h5>
                                        <p class="text-justify">{{perhatian}}</p>
                                    </div>
                                </div>
                            </div>
                            </container>
                          </div>
                        </div>

                    </div>
                </div>
            </div>
        </script>

        

        <script type="text/x-template" id="utama">
            <div>
                <div class="container-fluid fix-height">

                    <div class="row">
                        <div class="col-xl-4 col-md-4 same-height np">
                            <div class="box-menu orange">
                                <router-link to="logomuseum" class="dalam"><img src="img/menu/1.png" class="img-fluid" style="display: block; margin: auto auto;" alt=""></router-link>
                            </div>                              
                        </div>
                        <div class="col-xl-4 col-md-4 same-height np">
                            <div class="box-menu blue">
                                <router-link to="/visimisi" class="dalam"><img src="img/menu/2.png" class="img-fluid" style="display: block; margin: auto auto;" alt=""></router-link>
                            </div>                              
                        </div>
                        <div class="col-xl-4 col-md-4 same-height np">
                            <div class="box-menu red">
                                <router-link to="/gambarmuseum" class="dalam"><img src="img/menu/3.png" class="img-fluid" style="display: block; margin: auto auto;" alt=""></router-link>
                            </div>                              
                        </div>

                        <div class="col-xl-4 col-md-4 same-height np">
                            <div class="box-menu green">
                                <router-link to="/strukturorganisasi" class="dalam"><img src="img/menu/4.png" class="img-fluid" style="display: block; margin: auto auto;" alt=""></router-link>
                            </div>  
                        </div>
                        <div class="col-xl-4 col-md-4 same-height np">
                            <div class="box-menu violet">
                                <router-link to="/peresmian" class="dalam"><img src="img/menu/5.png" class="img-fluid" style="display: block; margin: auto auto;" alt=""></router-link>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 same-height np">
                            <div class="box-menu yellow">
                                <router-link to="/kunjungan" class="dalam"><img src="img/menu/7.png" class="img-fluid" style="display: block; margin: auto auto;" alt=""></router-link>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 same-height np">
                            <div class="box-menu bluee">
                                <router-link to="/kegiatan" class="dalam"><img src="img/menu/6.png" class="img-fluid" style="display: block; margin: auto auto;" alt=""></router-link>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-4 same-height np">
                            <div class="box-menu red">
                                <router-link to="/program" class="dalam"><img src="img/menu/8.png" class="img-fluid" style="display: block; margin: auto auto;" alt=""></router-link>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 same-height np">
                            <div class="box-menu green">
                                <router-link to="/peraturan" class="dalam"><img src="img/menu/9.png" class="img-fluid" style="display: block; margin: auto auto;" alt=""></router-link>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </script>

        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/vue.js"></script>
        <script src="js/vue-router.js"></script>
        <script src="js/bootstrap-vue.js"></script>
        <!-- script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script -->
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/jquery.lighter.js"></script>

        <script>
            
        </script>

    </body>
</html>
